@use "variables" as *;

.w-tabs {
	@media screen and (max-width: 991px) {
		grid-column: span 12!important;
	}

	&:before, &:after {
		display: none;
	}

	.w-tab-menu, .w-tab-content {
		@media screen and (max-width: 991px) {
			display: contents;
		}
	}

	.w-tab-link, .w-tab-pane {
		@media screen and (max-width: 991px) {
			grid-column: span 12;
		}

		@media screen and (min-width: 992px) {
			order: 0!important;
		}
	}

	.w-tab-link, .tab-content {
		@media screen and (max-width: 991px) {
			padding: 2.25rem;
			border-radius: 26 / 16 * 1rem;
			box-shadow: 0 1px 4px 0 rgba($black, 0.05), 0 1px 4px 0 rgba($black, 0.1);
			
			&.w--current {
				background-color: #f2f0e9;
			}
		}
	}

	.w-tab-link, .tab-content--alt {
		@media screen and (max-width: 991px) {
			padding: 0;
			border-radius: 0;
			box-shadow: none;
			
			&.w--current {
				background-color: none;
			}
		}
	}

	.w-tab-link {
		@media screen and (max-width: 991px) {
			padding: 0.875rem 2.25rem;
			background-color: transparent;
			border: 0;
			box-shadow: none;
		}
	}
}

// Tabs variant
.tabs-regular {
	.w-tab-link.w--current {
		.tab-link-text {
			opacity: 1;
		}

		@media screen and (min-width: 992px) {
			&::after {
				content: "";
				background-image: linear-gradient(90deg, $blue 0%, $light-blue 100%);
				position: absolute;
				height: 4px;
				width: 100%;
				top: 100%;
				left: 0;
			}
		}
	}

	.tab-link--alt {
		position: relative;

		&:before {
			content: "*";
			position: absolute;
			top: 50%;
			left: 10px;
			color: rgb(180, 16, 16);
			font-size: 24px;
			font-family: "Braden Hill", serif;
			transform: translateY(-50%) translateY(4px);
		}

		&.w--current {
			.tab-link-text--alt {
				opacity: 1;
			}

			@media screen and (min-width: 992px) {
				&::after {
					content: "";
					background-image: linear-gradient(90deg, rgb(180, 16, 16) 0%, rgba(180, 16, 16, 0.2) 100%);
					position: absolute;
					height: 4px;
					width: 100%;
					top: 100%;
					left: 0;
				}
			}
		}
	}
}

// Image variant
.tabs-image {
	.w-tab-link.w--current {
		.tab-link-text, .tab-link-content {
			opacity: 1;
		}

		@media screen and (min-width: 992px) {
			&::after {
				content: "";
				background-image: linear-gradient(90deg, $blue 0%, $light-blue 100%);
				position: absolute;
				height: 4px;
				width: 100%;
				bottom: 100%;
				left: 0;
			}
		}
	}
}

[dark-mode] {
	background-color: $dark-gray;
	background-image: linear-gradient(to left, $dark-gray, #3F4449);
	color: $white;
	margin-right: calc(var(--_sizes---main-spacing-100) * -1);
	margin-left: calc(var(--_sizes---main-spacing-100) * -1);
	padding-right: var(--_sizes---main-spacing-100);
	padding-top: var(--_sizes---large-margin-150);
	padding-bottom: var(--_sizes---large-margin-150);
	padding-left: var(--_sizes---main-spacing-100);

	.word-block {
		box-shadow: none;
	}
}

// Accordion variant
[data-wf--tabs--variant="tabs-accordion"], #accordion-tab {
	&[dark-mode] {
		grid-row-gap: 0;

		.w-tab-link {
			@media screen and (max-width: 991px) {
				background-color: transparent;
				&.w--current {
					background-color: rgba($white, 0.1);
					box-shadow: 0 1px 4px 0 rgba($black, 0.05), 0 1px 4px 0 rgba($black, 0.1);
				}
			}
		}

		.tab-content {
			background-color: rgba($white, 0.1);
			box-shadow: 0 1px 4px 0 rgba($black, 0.05), 0 1px 4px 0 rgba($black, 0.1);
		}

		.tab-content--alt {
			background: none;
			box-shadow: none;
			padding: 0;
		}
	}

	.w-tabs {
		@media screen and (min-width: 992px) {
			display: contents;
		}
	}
	.w-tab-link {
		.tab-link-content {
			height: 0;
			overflow: hidden;
			opacity: 0;
			margin-top: 0;
			// allow keywords to be animated
			interpolate-size: allow-keywords;
			transition: height 1s $bezier, opacity 1s $bezier, margin-top 1s $bezier;
		}

		@media screen and (min-width: 992px) {
			&:after {
				content: "";
				background-image: linear-gradient(0deg, $light-blue 0%, $blue 100%);
				position: absolute;
				height: 0;
				width: 4px;
				right: 100%;
				top: 0;
				transition: height 1s $bezier;
			}
		}
	}

	.w-tab-link.w--current {
		.tab-link-text, .tab-link-content {
			opacity: 1;
		}

		.tab-link-content {
			height: auto;
			margin-top: 1rem;
		}

		@media screen and (min-width: 992px) {
			&::after {
				height: 100%;
			}
		}
	}
}

.accordion {
	.accordion-item {

		&-text {
			overflow: hidden;
			height: 0;
			interpolate-size: allow-keywords;
			transition: height 1s $bezier;

		}
		
		&:before {
			content: "";
			position: absolute;
			background-color: $white;
			inset: 0;
			z-index: -1;
			border-radius: 1.5rem;
			box-shadow: 0 1px 4px 0 rgba($black, 0.05), 0 1px 4px 0 rgba($black, 0.1);
			opacity: 0;
			height: 0;
			transition: opacity 1s $bezier, height 1s $bezier;
		}

		&.active {
			.accordion-item-text {
				height: auto;
			}
			
			&:before {
				opacity: 1;
				height: 100%;
			}
		}
	}
}