// Variables
@use "variables" as *;

[data-hsfc-id=Renderer] .hsfc-Row {
	margin-bottom: 0;
}

@mixin form-styling {
	form:not(.remove-styles) {
		border-radius: 14/16 * 1rem;
		background-color: $white;
		padding: 44/16 * 1rem;
		position: relative;
		box-shadow: 0 1px 4px 0 rgba($black, 0.05), 0 1px 4px 0 rgba($black, 0.1);
		overflow: hidden;
		box-sizing: border-box;

		button:not(.hsfc-Button) {
			min-width: 11.875rem;
			min-height: 3.375rem;
			overflow: hidden;
			position: relative;
			display: inline-flex;
			align-items: center;
			justify-items: center;
			justify-content: center;
			padding: 0 10px;
			font-weight: 600;
			font-size: 1rem;
			color: inherit;
			background-color: transparent;
			border-radius: 999px;
			z-index: 1;

			&::before {
				content: '';
				position: absolute;
				inset: 0;
				padding: 2px; // Stroke width
				border-radius: 999px;
				background-image: linear-gradient(90deg, $gray 0%, $gray 40%, $light-blue 60%, $blue 100%);
				background-size: 250% 100%;
				background-position: left;
				transition: background-position 1s $bezier;        
				pointer-events: none;
				z-index: -1;
			}

			&:not(.full)::before {
				// Transparent center mask
				-webkit-mask:
				linear-gradient(#fff 0 0) content-box,
				linear-gradient(#fff 0 0);
				-webkit-mask-composite: xor;
				mask-composite: exclude;
			}

			&:hover {
				&::before {
					background-position: right;
				}
			}
		}

		&:before {
			content: "";
			position: absolute;
			top: 0;
			left: 0;
			height: 0.87rem;
			background-image: linear-gradient(90deg, $blue 0%, $light-blue 100%);
			width: 100%;
			z-index: 1;
		}

		label {
			font-weight: 500;
			font-size: 14/16 * 1rem;
			display: inline-flex;
			gap: 2/16 * 1rem 0.5rem;
			margin-bottom: 14/16 * 1rem;
			
			&.labeled-input {
				text-indent: 7/16 * 1rem;
				flex-direction: column;
				display: flex;
			}
	
			b {
				font-size: 28/16 * 1rem;
				font-weight: 600;
			}
		}
		
		input[type="text"], input[type="email"], input[type="tel"] {
			font-weight: 400;
			padding: 17/16 * 1rem 20/16 * 1rem;
			font-size: 1rem;
			border-radius: 999px;
			border: 1px solid $light-gray;
			background-color: $white;
			color: $dark-gray;
			transition: border 1s $bezier;
		
			&::placeholder {
				color: rgba($dark-gray, 0.4);
			}
			
			&:focus {
				border: 1px solid $blue;
				outline: none;
			}

			&:hover {
				border: 1px solid $blue;
			}
			
			&:not(:placeholder-shown) {
				border: 1px solid $blue;
			}
		}
		
		textarea {
			border-radius: 14/16 * 1rem;
			border: 1px solid $light-gray;
			background-color: $white;
			color: $dark-gray;
			padding: 17/16 * 1rem 20/16 * 1rem;
			font-size: 1rem;
			width: 100%;
		
			&:focus {
				border: 1px solid $blue;
				outline: none;
			}
		}
		
		select, ::picker(select) {
			appearance: base-select;
			border: 1px solid $light-gray;
			border-radius: 14/16 * 1rem;
		}
		
		::picker(select) {
			// custom scrollbar
			&::-webkit-scrollbar {
				width: 5px;
				padding: 14/16 * 1rem;
				transform: translateX(14/16 * 1rem);
				position: relative;
				left: 10px;
			}
		
			&::-webkit-scrollbar-thumb {
				width: 5px;
				background: $blue;
			}
		}
		
		select {
			font-weight: 400;
			padding: 17/16 * 1rem 20/16 * 1rem;
			font-size: 1rem;
			border-radius: 999px;
			border: 1px solid $light-gray;
			background-color: $white;
			color: $dark-gray;
		
			&::picker-icon {
				color: $light-gray;
			}
		
			option {
				display: flex;
				justify-content: flex-start;
				gap: 20px;  
				background: $white;
				padding: 17/16 * 1rem 20/16 * 1rem;
				transition: 0.4s;
				cursor: pointer;
		
				&::checkmark {
					content: "☑️";
				}
			}
		
			option:first-of-type {
				color: $dark-gray;
			}
		
			option:hover {
				background-color: $light-blue
			}
		
			&:invalid {
				color: $light-gray;
			}
		}
		
		.css-label {
			display: flex;
			flex-direction: row;
			align-items: center;
			margin-bottom: 0;
		}
	
		.item:has(.css-checkbox) {
			font-weight: 400;
			padding: 17/16 * 1rem 20/16 * 1rem;
			font-size: 1rem;
			border-radius: 999px;
			border: 1px solid $light-gray;
			background-color: $white;
			color: $dark-gray;
			margin-bottom: 1rem;
	
			&:has(.css-checkbox:checked) {
				border-radius: 14/16 * 1rem 14/16 * 1rem 0 0;
				border-bottom: none;
				margin-bottom: 0;
			}
	
			+ div {
				border-radius: 0 0 14/16 * 1rem 14/16 * 1rem;
				border: 1px solid $light-gray;
				border-top: none;
				padding: 17/16 * 1rem 20/16 * 1rem;
				margin-bottom: 1rem;
			}    
		}
		
		.css-checkbox {
			display: none;
		
			&:checked {
				+label .fa-square-plus {
					display: none;
				}
		
				+label .fa-square-minus {
					display: inline;
				}
			}
		
			+label {
				.fa-square-minus {
					display: none;
				}
			}
		}
	}
}