@use "accordion-tabs" as *;
@use "forms" as *;
@use "variables" as *;

html:not(.wf-doc) {
    font-size: min(16px, 1.1vw);

    @media screen and (max-width: 991px) {
        font-size: min(max(16px, 2.0833333vw), 26px);
    }

    @media screen and (max-width: 767px) {
        font-size: 2.8vw;
    }
}

html.wf-design-mode {
    .video-faq {
        &-questions {

            .video-faq-q:hover {
                + .video-faq-a {
                    display: grid;
                }
            }
        }
    }

    .video-faq-q {
        .plus-icon {
            transition: all 1s $bezier;
        }

        &:hover .plus-icon {
            background-color: $dark-gray;
            color: $white;
        }
    }

    .video-faq-a {
        position: relative;
        height: 20px;
        transition: all 1s $bezier;
        interpolate-size: allow-keywords;
        padding: 0 50px;
        overflow: hidden;
        will-change: height, padding;

        &:hover {
            height: auto;
            padding: 50px;

            &:before {
                top: -20px;
            }
        }
        
        &:before {
            content: "view answer";
            text-transform: uppercase;
            font-size: 11px;
            font-weight: 500;
            position: absolute;
            top: 0;
            text-align: center;
            left: 0;
            line-height: 20px;
            right: 0;
            height: 20px;
            background-color: $light-gray;
            z-index: 1;
            transition: top 1s $bezier;
        }
    }

    .video-carousel {    
        &-list {
            grid-template-columns: repeat(3, minmax(0, 1fr));
        }

        &-wrap {
            &:before {
                content: "⚠ this module is not fully editable in design mode, and it will display differently in the live version";
                background-color: rgb(243, 241, 237);
                border: 1px solid rgb(221, 218, 212);
                color: rgba($black, 0.2);
                grid-column: 1/13;
                place-self: center;
                padding: 0.5rem 1rem;
                justify-content: center;
                border-radius: 0.875rem;
                box-sizing: border-box;
                font-size: 11px;
                font-weight: 700;
                margin-bottom: 1rem;
                text-transform: uppercase;
                display: flex;
            }
        }

        &-item {
            position: relative!important;
            width: 100%;
            padding: 0;
            padding-bottom: 1rem;
            border-radius: 0.7rem;
            box-shadow: 0 0 10px 0 rgba($black, 0.1);
            background-color: white;
            
            &-text {
                writing-mode: horizontal-tb!important;
                grid-row: 2/3!important;
                color: $black;
                font-size: 1rem;
            }

            &-img {
                opacity: 1;
                aspect-ratio: 16/9;
            }
        }
    }
}

body:not(.wf-control) {
    overflow-x: hidden;
    
    > *:not(.reset-forms) {
        @include form-styling;
    }

    > .wider {
        grid-template-columns: repeat(12, minmax(0, 140px));
    }

    .video-faq-answer-block {
        position: fixed;
        top: 0;
        left: 0;
        height: 100vh;
        width: 100vw;
        background-color: rgba($black, 0.5);
        z-index: 1000;
        display: grid;
        grid-template-columns: auto minmax(auto, 800px) auto;
        grid-template-rows: 1fr minmax(0, auto) 1fr;

        @media screen and (max-width: 991px) {
            grid-template-columns: auto minmax(auto, 100vw) auto;
            
            > * {
                border-radius: 0;
            }

            > .video-faq-a {
                min-height: 100vh;
            }
        }

        > * {
            grid-column: 2;
            grid-row: 2;
            align-self: center;
            overflow: auto;
            max-height: 100%;
        }

        .video-faq-close-button {
            place-self: start end;
            margin-right: calc(23/16 * 1rem);
            margin-top: 1.125rem;
            background-color: #F2F0E9;
            border-radius: 50%;
            width: calc(35/16 * 1rem);
            aspect-ratio: 1;
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;

            > svg {
                transition: transform 1s $bezier;
            }

            &:hover {
                > svg {
                    transform: rotate(90deg);
                }
            }
        }
    }

    .button {
        &::before {
            content: '';
            position: absolute;
            inset: 0;
            padding: 2px; // Stroke width
            border-radius: 999px;
            background-image: linear-gradient(90deg, $gray 0%, $gray 40%, $light-blue 60%, $blue 100%);
            background-size: 250% 100%;
            background-position: left;
            transition: background-position 1s $bezier;        
            pointer-events: none;
            z-index: -1;
        }

        &:not(.full)::before {
            // Transparent center mask
            -webkit-mask:
            linear-gradient(#fff 0 0) content-box,
            linear-gradient(#fff 0 0);
            -webkit-mask-composite: xor;
            mask-composite: exclude;
        }
        
        &:hover {
            &::before {
                background-position: right;
            }
        }
        
        &.active {
            &::before {
                background-image: linear-gradient(90deg, $blue 0%, $light-blue 40%, $light-blue 60%, $blue 100%);
            }
        }
        
        &.full {
            &::before {
                background-image: linear-gradient(90deg, #3F4348 0%, $black 100%);
                opacity: 1;
                background-size: 100% 100%;
                inset: 0;
                transition: opacity 1s $bezier;
            }
            
            &::after {
                content: "";
                position: absolute;
                background-image: linear-gradient(90deg, $blue 0%, $light-blue 100%);
                background-size: 100% 100%;
                inset: 0;
                opacity: 0;
                border-radius: 0;
                z-index: -1;
                transition: opacity 1s $bezier;
            }
            
            &:hover {
                &::after {
                    opacity: 1;
                }
                
                &::before {
                    opacity: 0;
                }
            }
        }
    }
    
    .line {
        background-image: linear-gradient(90deg, $dark-gray 0%, $dark-gray 45%, $blue 55%, $light-blue 100%);
        background-size: 250%;
        background-position: left;
        transition: background-position 1s $bezier;
        
        &:hover {
            background-position: right;
            
            &::before {
                width: 14px;
                margin-right: 0.3125rem; 
            }
            
            &::after {
                width: 0px;
            }
        }
        
        &::after {
            content: "";
            width: 14px;
            height: 2px;
            margin-left: 0.3125rem; 
            background-color: $gray;
            transition: width 1s $bezier;
        }
        
        &::before {
            content: "";
            width: 0px;
            height: 2px;
            margin-right: 0; 
            background-color: $gray;
            background-image: linear-gradient(90deg, $blue 0%, $light-blue 100%);
            transition: width 1s $bezier, margin-right 1s $bezier;
        }
    }
    
    .dark {
        .button {
            color: $white;
        }
        
        .line {
            background-image: linear-gradient(90deg, $white 0%, $white 45%, $blue 55%, $light-blue 100%);
        }
    }
    
    .led-paragraph {
        &:before {
            content: "";
            background-color: $gray;
            height: 1px;
            width: 2rem;
            display: block;
            margin-bottom: 1rem;
        }
    }

    .tab {
        &.w--current {
            &::after {
                content: "";
                background-image: linear-gradient(90deg, $blue 0%, $light-blue 100%);
                position: absolute;
                height: 4px;
                width: 100%;
                top: 100%;
                left: 0;
                z-index: 1;
            }
    
            .tab-img {
                opacity: 1;
            }
        }
    
        .tab-img {
            opacity: 0.4;
        }
    }
    
    .tab-descriptive {
        &.w--current {
            &::after {
                content: "";
                background-image: linear-gradient(90deg, $blue 0%, $light-blue 100%);
                position: absolute;
                height: 4px;
                width: 100%;
                bottom: 100%;
                left: 0;
            }
        }
    }

    .tab-accordion {
        &::after {
            content: "";
            background-image: linear-gradient(180deg, $blue 0%, $light-blue 100%);
            position: absolute;
            width: 4px;
            height: 100%;
            top: 0;
            right: 100%;
        }
    }
    
    .tab-accordion, .faq-question {
        &-text {
            height: 0;
            transition: height 1s $bezier;
        }
    
        &.w--current {    
            .tab-accordion-text, .faq-question-text {
                opacity: 1;
                height: auto;
            }
        }
    }
    
    .w-tab-link {
        color: inherit;
    }
    
    .zigzag {

        > * {
            > * {
                &:nth-child(1) {
                    order: 1;
                }

                &:nth-child(2) {
                    order: 3;
                }
            }

            &:before {
                content: "";
                order: 2;
            }
        }

        > *:nth-child(even) {
            > *:nth-child(2) {
                order: 1;
            }

            > *:nth-child(1) {
                order: 3;
            }
        }
    }

    .video-lightbox-link {
        transition: height 1s $bezier;
        interpolate-size: allow-keywords;

        iframe {
            width: 100%;
            aspect-ratio: 16/9;
        }

        &:hover {
            .video-lightbox-circle {
                transform: scale(1.3);
            }
        }

        .video-lightbox-wrap {
            opacity: 0;
            visibility: hidden;
        }

        .video-lightbox-circle, .video-lightbox-icon, .video-lightbox-thumbnail {
            opacity: 1;
            visibility: visible; 
            transition: all 1s $bezier;
        }
    
        &.active {
            height: auto;

            .video-lightbox-circle, .video-lightbox-thumbnail, .video-lightbox-icon {
                opacity: 0;
                visibility: hidden;
            }

            .video-lightbox-wrap {
                opacity: 1;
                visibility: visible;
            }
        }
    }

    .hubspot-wrap {
        position: relative;

        &:before {
            content: "";
            position: absolute;
            top: 0;
            height: 0.87rem;
            background-image: linear-gradient(90deg, $blue 0%, $light-blue 100%);
            width: 100%;
            z-index: 1;
        }
    }

    .newsletter-form {
        font-size: 16px;
        label {
            display: none;
        }

        .hsfc-Step__Content {
            display: grid;
            grid-template-columns: 1fr auto;
            align-items: flex-start;
            padding: 0;
            
            p {
                color: $white;
                margin-bottom: 1em;
            }
        }

        .hsfc-NavigationRow, .hsfc-NavigationRow__Alerts {
            margin-top: 0;
            margin-bottom: 0;
        }

        input {
            background-color: rgba($white, 0.1);
            border: none;
            height: 56px;
            border-radius: 999px 0 0 999px;
            padding: 0 32px;
            color: $white;
            font-weight: 400;
            transition: background-color 1s $bezier;

            &::placeholder {
                color: rgba($white, 0.5);
            }

            &:focus, &:hover {
                box-shadow: none;
                background-color: rgba($white, 0.2);
            }
        }

        button {
            height: 56px;
            border-radius: 0 999px 999px 0;
            background-image: linear-gradient(90deg, $dark-gray 0%, $black 100%);
            font-weight: 400;
            padding: 0 32px;
        }
        
    }

    .dropdown-list {
        opacity: 0;
        visibility: hidden;
        transform: translateY(4rem) translateX(-50%) scale(0.95);
        transition: visibility 1s $bezier, opacity 1s $bezier, transform 1s $bezier;
        display: block;
        background: transparent;


        &.w--open {
            opacity: 1;
            visibility: visible;
            transform: translateY(0) translateX(-50%);
        }
    }
    
    .bento-item-right {
        align-items: flex-end;
        text-align: right;
    }

    .bento-item-center {
        align-items: center;
        text-align: center;
    }

    .bento-item-wide {
        flex-direction: row-reverse;
        justify-content: space-between;
    }
}

#video-carousel {
    font-size: min(16px, calc((var(--vw) - 12.5rem) * 0.0121212));

    @media screen and (max-width: 991px) {
        font-size: 2.0833333vw;
    }  
}

.video-carousel {
    &-item {
        --bgMain: #9E9A97;
        --bgSecondary: #9E9A97;
        --bgTertiary: #D7D3CB;
        display: grid;
        grid-template-rows: minmax(0, 1fr);
        flex: 1;
        cursor: pointer;
        overflow: hidden;
        // select none
        user-select: none;
        border-radius: 0.5rem;
        transition: border-radius 1s $bezier;
        // Different colors for each item

        &.active {
            border-radius: calc(24 / 16 * 1rem);
            .video-carousel-item-text {
                place-self: end start!important;
                padding: calc(40 / 16 * 1rem) calc(50 / 16 * 1rem);
            }

            &:hover {
                .video-lightbox-circle {
                    scale: 1.3;
                }
            }
        }
        
        .video-lightbox-circle {
            transition: scale 1s $bezier;
            place-self: center center!important;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
            transform: none;
            opacity: 0;
        }

        .video-lightbox-icon {
            place-self: center center!important;
            top: 0;
            left: 0.15rem;
            height: auto;
            width: auto;
            z-index: 1;
            opacity: 0;
        }

        &-video {
            grid-area: 1 / 1;
            z-index: 1;
            background-color: black;

            iframe {
                width: 100%;
                height: 100%;
            }
        }

        &-text {
            place-self: center center!important;
            padding: 0;
            z-index: 1;

            @media screen and (max-width: 991px) {
                font-size: 0.875rem;
            }
        }

        img {
            width: 100%;
        }
    }

    // &-list {
    //     > * {
    //         @for $i from 0 through 6 {
    //             &:nth-of-type(#{$i + 1}) {
    //                 // different colors with high saturation
    //                 background-color: hsl($i * 50, 40%, 50%);
    //             }
    //         }
    //     }
    // }
}

.controls {
    &-next, &-prev {
        cursor: pointer;
        z-index: 2;
        height: 36px;
        width: 48px;
        padding: 0;
        background-repeat: no-repeat;
        background-position: center;
        background-image: url('data:image/svg+xml,<svg width="37" height="37" viewBox="0 0 37 37" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M18.5 10.5L10.5 18.5M10.5 18.5L18.5 26.5M10.5 18.5H26.5M10.1 36.5H26.9C30.2603 36.5 31.9405 36.5 33.2239 35.846C34.3529 35.2708 35.2708 34.3529 35.846 33.2239C36.5 31.9405 36.5 30.2603 36.5 26.9V10.1C36.5 6.73969 36.5 5.05953 35.846 3.77606C35.2708 2.64708 34.3529 1.7292 33.2239 1.15396C31.9405 0.5 30.2603 0.5 26.9 0.5H10.1C6.73969 0.5 5.05953 0.5 3.77606 1.15396C2.64708 1.7292 1.7292 2.64708 1.15396 3.77606C0.5 5.05953 0.5 6.73968 0.5 10.1V26.9C0.5 30.2603 0.5 31.9405 1.15396 33.2239C1.7292 34.3529 2.64708 35.2708 3.77606 35.846C5.05953 36.5 6.73968 36.5 10.1 36.5Z" stroke="black" stroke-linecap="round" stroke-linejoin="round"/></svg>');
    }

    &-next {
        transform: rotate(180deg);
    }
}

.has-checklist {
    ul {
        padding-left: 0;
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }

    li {
        padding-left: 0;
        display: flex;
        
        &:before {
            content: "";
            background-image: url("data:image/svg+xml,%3Csvg width='22' height='22' viewBox='0 0 22 22' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M9.46 16.06L17.215 8.305L15.675 6.765L9.46 12.98L6.325 9.845L4.785 11.385L9.46 16.06ZM11 22C9.47833 22 8.04833 21.7112 6.71 21.1337C5.37167 20.5562 4.2075 19.7725 3.2175 18.7825C2.2275 17.7925 1.44375 16.6283 0.86625 15.29C0.28875 13.9517 0 12.5217 0 11C0 9.47833 0.28875 8.04833 0.86625 6.71C1.44375 5.37167 2.2275 4.2075 3.2175 3.2175C4.2075 2.2275 5.37167 1.44375 6.71 0.86625C8.04833 0.28875 9.47833 0 11 0C12.5217 0 13.9517 0.28875 15.29 0.86625C16.6283 1.44375 17.7925 2.2275 18.7825 3.2175C19.7725 4.2075 20.5562 5.37167 21.1337 6.71C21.7112 8.04833 22 9.47833 22 11C22 12.5217 21.7112 13.9517 21.1337 15.29C20.5562 16.6283 19.7725 17.7925 18.7825 18.7825C17.7925 19.7725 16.6283 20.5562 15.29 21.1337C13.9517 21.7112 12.5217 22 11 22Z' fill='%232C2B32'/%3E%3C/svg%3E");
            background-size: contain;
            background-repeat: no-repeat;
            background-position: center;
            width: calc(22 / 16 * 1rem);
            margin-right: 1rem;
            aspect-ratio: 1;
        }
    }
}

.checklist {
    padding-left: 1.375rem;

    &.inline {
        padding-left: 0;
    }

    li {
        list-style: none;
        display: flex;
        align-items: flex-start;
        margin-bottom: 0.8rem;
        font-weight: 500;

        &:before {
            content: unquote('"\\f00c"');
            font-family: FontAwesome;
            aspect-ratio: 1;
            background: $dark-gray;
            border-radius: 50%;
            display: inline-block;
            width: 1.375rem;
            height: 1.375rem;
            margin-right: 1rem;
            margin-top: 0.1rem;
            color: white;
            text-align: center;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 0.8rem;
        }
    }

    &.dark {
        li:before {
            background: linear-gradient(0deg, $dark-gray 0%, $dark-gray 100%);
        }
    }
}

.divider {
    display: flex;
    align-items: center;
    gap: 1.25rem;

    &:before {
        content: "";
        height: 1px;
        background-color: $light-gray;
        flex-grow: 1;
    }

    &:after {
        content: "";
        height: 1px;
        background-color: $light-gray;
        flex-grow: 1;
    }
}

[data-featured="2"] {
    @media screen and (min-width: 992px) {
        grid-column: span 8!important;
        grid-template-columns: 1fr 1fr;
        grid-column-gap: 0;
        grid-template-rows: 1fr;
        
        .post-img-wrap {
            aspect-ratio: unset;
            height: 100%;
        }
    }

    @media screen and (max-width: 991px) {
        grid-column: span 12!important;
    }

}

[data-featured="3"] {
    @media screen and (min-width: 992px) {
        grid-column: span 12!important;
        grid-template-columns: 1fr 1fr;
        grid-column-gap: 0;
        grid-template-rows: 1fr;

        .post-img-wrap {
            aspect-ratio: unset;
        }
    }
}

[data-featured="4"] {
    width: 40vw;

    @media screen and (max-width: 991px) {
        width: 80vw;
    }
}

.post {
    opacity: 0;
    transition: all 1s $bezier;
    animation: fadeIn 1s $bezier forwards;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(10rem);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.fadetest {
    opacity: 0;
    transition: all 1s $bezier;
}

.solutions-block {
    .solution {
        .solution-hover {
            opacity: 0;
            scale: 0.7;
            transition: opacity 1s $bezier, scale 1s $bezier;

            @media screen and (max-width: 991px) {
                opacity: 0.8;
                scale: 1;
            }
        }

        &:first-of-type {
            .solution-hover {
                @media screen and (min-width: 992px) {
                    border-top-left-radius: 1.625rem;
                    border-bottom-left-radius: 1.625rem;
                }
            }
        }

        &:last-of-type {
            .solution-hover {
                @media screen and (min-width: 992px) {
                    border-top-right-radius: 1.625rem;
                    border-bottom-right-radius: 1.625rem;
                }
            }
        }

        &:hover {
            .solution-hover {
                opacity: .85;
                scale: 1;
            }
        }
    }
}

// Filters
.filter-links {
    .filter-link {
        input {
            display: none;
            &:checked+.w-form-label {
                &:after {
                    width: 100%;
                }
            }
        }

        .w-form-label {
            position: relative;
            padding-bottom: 1rem;
            padding-top: 1rem;
            
            &:after {
                content: "";
                position: absolute;
                background-image: linear-gradient(90deg, $blue 0%, $light-blue 100%);
                height: 4px;
                width: 0%;
                bottom: 0;
                left: 50%;
                transform: translateX(-50%);
                transition: width 1s $bezier;
            }
        }
    }
}

.toc-link {
    &:hover {
        opacity: 1;

        &:before {
            height: 100%;
        }
    }

    &:before {
        content: "";
        position: absolute;
        background-image: linear-gradient(90deg, $blue 0%, $light-blue 100%);
        width: 4px;
        height: 0%;
        top: 50%;
        transform: translateY(-50%);
        right: 100%;
        border-radius: 2px;
        transition: height 1s $bezier;
    }
}

.blog-post-text {
    figure {
        margin-bottom: 2em;
    }

    ul {
        margin-bottom: 2rem;
    }

    li {
        list-style: disc;
        margin-bottom: 0.6rem;
        font-weight: 500;
        position: relative;
    }
}

// Recurrent combo classes
.margin-bottom {
    margin-bottom: 6.25rem;

    &-small {
        margin-bottom: 3.75rem;
    }
}

html.wf-design-mode, [data-wf-page="6825faaba311e001845307e3"] {
    [flowappz-cookie-consent-container] {
        display: none;
    }

    .wrap:has(.dropdown.shadowed) {
        margin-bottom: 100px;
    }

    .dropdown.shadowed {
        position: relative;
    }
}

html:not(.wf-design-mode) .responsive-tab {
    .tabs-content {
        height: 0;
        opacity: 0;
        margin-bottom: 0;
        overflow: hidden;
        transition: height 1s $bezier, opacity 1s $bezier, margin-bottom 1s $bezier;
        interpolate-size: allow-keywords;
    }

    &.active {
        .responsive-tab-img {
            background-color: #f2f0e9;
        }
        .tabs-content {
            opacity: 1;
            margin-bottom: 1rem;
            height: auto;
        }
    }
}

.margin-top {
    margin-top: 6.25rem;

    &-small {
        margin-top: 3.75rem;
    }
}

.last-item {
    margin-bottom: 0;
}

.text {
    &-large {
        font-size: 1.125rem;
        line-height: 1.44;
    }

    &-small {
        font-size: 0.875rem;
    }
    &-center {
        text-align: center;
    }
}

.gapless {
    &-vertical {
        row-gap: 0;
    }

    &-horizontal {
        column-gap: 0;
    }
}

p a {
    position: relative;
    color: #0166CC;

    &:before {
        content: "";
        position: absolute;
        width: 100%;
        bottom: -8px;
        left: 0;
        height: 10px;
        background-image: url('https://cdn.prod.website-files.com/6822603442295109788371a4/68c2bea7ee288d9545895d78_underline.svg');
        background-repeat: no-repeat;
        transform: scaleX(0);
        transform-origin: left center;
        transition: transform 0.2s ease-in;
    }

    &:hover:before {
        transform: scaleX(1);
    }
}

// Staging Tests
.staging-test {
    background-color: purple;
}