$gray: #9E9A97;
$light-blue: #96D9F5;
$blue: #3D9DFF;
$dark-gray: #2C2B32;
$black: #000000;
$white: #FFFFFF;
$light-gray: #D7E2DF;

// Bezier curve for transitions
$bezier: cubic-bezier(0.190, 1.000, 0.220, 1.000);