@charset "UTF-8";
@media screen and (max-width: 991px) {
  .w-tabs {
    grid-column: span 12 !important;
  }
}
.w-tabs:before, .w-tabs:after {
  display: none;
}
@media screen and (max-width: 991px) {
  .w-tabs .w-tab-menu, .w-tabs .w-tab-content {
    display: contents;
  }
}
@media screen and (max-width: 991px) {
  .w-tabs .w-tab-link, .w-tabs .w-tab-pane {
    grid-column: span 12;
  }
}
@media screen and (min-width: 992px) {
  .w-tabs .w-tab-link, .w-tabs .w-tab-pane {
    order: 0 !important;
  }
}
@media screen and (max-width: 991px) {
  .w-tabs .w-tab-link, .w-tabs .tab-content {
    padding: 2.25rem;
    border-radius: 1.625rem;
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.05), 0 1px 4px 0 rgba(0, 0, 0, 0.1);
  }
  .w-tabs .w-tab-link.w--current, .w-tabs .tab-content.w--current {
    background-color: #f2f0e9;
  }
}
@media screen and (max-width: 991px) {
  .w-tabs .w-tab-link, .w-tabs .tab-content--alt {
    padding: 0;
    border-radius: 0;
    box-shadow: none;
  }
  .w-tabs .w-tab-link.w--current, .w-tabs .tab-content--alt.w--current {
    background-color: none;
  }
}
@media screen and (max-width: 991px) {
  .w-tabs .w-tab-link {
    padding: 0.875rem 2.25rem;
    background-color: transparent;
    border: 0;
    box-shadow: none;
  }
}

.tabs-regular .w-tab-link.w--current .tab-link-text {
  opacity: 1;
}
@media screen and (min-width: 992px) {
  .tabs-regular .w-tab-link.w--current::after {
    content: "";
    background-image: linear-gradient(90deg, #3D9DFF 0%, #96D9F5 100%);
    position: absolute;
    height: 4px;
    width: 100%;
    top: 100%;
    left: 0;
  }
}
.tabs-regular .tab-link--alt {
  position: relative;
}
.tabs-regular .tab-link--alt:before {
  content: "*";
  position: absolute;
  top: 50%;
  left: 10px;
  color: rgb(180, 16, 16);
  font-size: 24px;
  font-family: "Braden Hill", serif;
  transform: translateY(-50%) translateY(4px);
}
.tabs-regular .tab-link--alt.w--current .tab-link-text--alt {
  opacity: 1;
}
@media screen and (min-width: 992px) {
  .tabs-regular .tab-link--alt.w--current::after {
    content: "";
    background-image: linear-gradient(90deg, rgb(180, 16, 16) 0%, rgba(180, 16, 16, 0.2) 100%);
    position: absolute;
    height: 4px;
    width: 100%;
    top: 100%;
    left: 0;
  }
}

.tabs-image .w-tab-link.w--current .tab-link-text, .tabs-image .w-tab-link.w--current .tab-link-content {
  opacity: 1;
}
@media screen and (min-width: 992px) {
  .tabs-image .w-tab-link.w--current::after {
    content: "";
    background-image: linear-gradient(90deg, #3D9DFF 0%, #96D9F5 100%);
    position: absolute;
    height: 4px;
    width: 100%;
    bottom: 100%;
    left: 0;
  }
}

[dark-mode] {
  background-color: #2C2B32;
  background-image: linear-gradient(to left, #2C2B32, #3F4449);
  color: #FFFFFF;
  margin-right: calc(var(--_sizes---main-spacing-100) * -1);
  margin-left: calc(var(--_sizes---main-spacing-100) * -1);
  padding-right: var(--_sizes---main-spacing-100);
  padding-top: var(--_sizes---large-margin-150);
  padding-bottom: var(--_sizes---large-margin-150);
  padding-left: var(--_sizes---main-spacing-100);
}
[dark-mode] .word-block {
  box-shadow: none;
}

[data-wf--tabs--variant=tabs-accordion][dark-mode], #accordion-tab[dark-mode] {
  grid-row-gap: 0;
}
@media screen and (max-width: 991px) {
  [data-wf--tabs--variant=tabs-accordion][dark-mode] .w-tab-link, #accordion-tab[dark-mode] .w-tab-link {
    background-color: transparent;
  }
  [data-wf--tabs--variant=tabs-accordion][dark-mode] .w-tab-link.w--current, #accordion-tab[dark-mode] .w-tab-link.w--current {
    background-color: rgba(255, 255, 255, 0.1);
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.05), 0 1px 4px 0 rgba(0, 0, 0, 0.1);
  }
}
[data-wf--tabs--variant=tabs-accordion][dark-mode] .tab-content, #accordion-tab[dark-mode] .tab-content {
  background-color: rgba(255, 255, 255, 0.1);
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.05), 0 1px 4px 0 rgba(0, 0, 0, 0.1);
}
[data-wf--tabs--variant=tabs-accordion][dark-mode] .tab-content--alt, #accordion-tab[dark-mode] .tab-content--alt {
  background: none;
  box-shadow: none;
  padding: 0;
}
@media screen and (min-width: 992px) {
  [data-wf--tabs--variant=tabs-accordion] .w-tabs, #accordion-tab .w-tabs {
    display: contents;
  }
}
[data-wf--tabs--variant=tabs-accordion] .w-tab-link .tab-link-content, #accordion-tab .w-tab-link .tab-link-content {
  height: 0;
  overflow: hidden;
  opacity: 0;
  margin-top: 0;
  interpolate-size: allow-keywords;
  transition: height 1s cubic-bezier(0.19, 1, 0.22, 1), opacity 1s cubic-bezier(0.19, 1, 0.22, 1), margin-top 1s cubic-bezier(0.19, 1, 0.22, 1);
}
@media screen and (min-width: 992px) {
  [data-wf--tabs--variant=tabs-accordion] .w-tab-link:after, #accordion-tab .w-tab-link:after {
    content: "";
    background-image: linear-gradient(0deg, #96D9F5 0%, #3D9DFF 100%);
    position: absolute;
    height: 0;
    width: 4px;
    right: 100%;
    top: 0;
    transition: height 1s cubic-bezier(0.19, 1, 0.22, 1);
  }
}
[data-wf--tabs--variant=tabs-accordion] .w-tab-link.w--current .tab-link-text, [data-wf--tabs--variant=tabs-accordion] .w-tab-link.w--current .tab-link-content, #accordion-tab .w-tab-link.w--current .tab-link-text, #accordion-tab .w-tab-link.w--current .tab-link-content {
  opacity: 1;
}
[data-wf--tabs--variant=tabs-accordion] .w-tab-link.w--current .tab-link-content, #accordion-tab .w-tab-link.w--current .tab-link-content {
  height: auto;
  margin-top: 1rem;
}
@media screen and (min-width: 992px) {
  [data-wf--tabs--variant=tabs-accordion] .w-tab-link.w--current::after, #accordion-tab .w-tab-link.w--current::after {
    height: 100%;
  }
}

.accordion .accordion-item-text {
  overflow: hidden;
  height: 0;
  interpolate-size: allow-keywords;
  transition: height 1s cubic-bezier(0.19, 1, 0.22, 1);
}
.accordion .accordion-item:before {
  content: "";
  position: absolute;
  background-color: #FFFFFF;
  inset: 0;
  z-index: -1;
  border-radius: 1.5rem;
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.05), 0 1px 4px 0 rgba(0, 0, 0, 0.1);
  opacity: 0;
  height: 0;
  transition: opacity 1s cubic-bezier(0.19, 1, 0.22, 1), height 1s cubic-bezier(0.19, 1, 0.22, 1);
}
.accordion .accordion-item.active .accordion-item-text {
  height: auto;
}
.accordion .accordion-item.active:before {
  opacity: 1;
  height: 100%;
}

[data-hsfc-id=Renderer] .hsfc-Row {
  margin-bottom: 0;
}

html:not(.wf-doc) {
  font-size: min(16px, 1.1vw);
}
@media screen and (max-width: 991px) {
  html:not(.wf-doc) {
    font-size: min(max(16px, 2.0833333vw), 26px);
  }
}
@media screen and (max-width: 767px) {
  html:not(.wf-doc) {
    font-size: 2.8vw;
  }
}

html.wf-design-mode .video-faq-questions .video-faq-q:hover + .video-faq-a {
  display: grid;
}
html.wf-design-mode .video-faq-q .plus-icon {
  transition: all 1s cubic-bezier(0.19, 1, 0.22, 1);
}
html.wf-design-mode .video-faq-q:hover .plus-icon {
  background-color: #2C2B32;
  color: #FFFFFF;
}
html.wf-design-mode .video-faq-a {
  position: relative;
  height: 20px;
  transition: all 1s cubic-bezier(0.19, 1, 0.22, 1);
  interpolate-size: allow-keywords;
  padding: 0 50px;
  overflow: hidden;
  will-change: height, padding;
}
html.wf-design-mode .video-faq-a:hover {
  height: auto;
  padding: 50px;
}
html.wf-design-mode .video-faq-a:hover:before {
  top: -20px;
}
html.wf-design-mode .video-faq-a:before {
  content: "view answer";
  text-transform: uppercase;
  font-size: 11px;
  font-weight: 500;
  position: absolute;
  top: 0;
  text-align: center;
  left: 0;
  line-height: 20px;
  right: 0;
  height: 20px;
  background-color: #D7E2DF;
  z-index: 1;
  transition: top 1s cubic-bezier(0.19, 1, 0.22, 1);
}
html.wf-design-mode .video-carousel-list {
  grid-template-columns: repeat(3, minmax(0, 1fr));
}
html.wf-design-mode .video-carousel-wrap:before {
  content: "⚠ this module is not fully editable in design mode, and it will display differently in the live version";
  background-color: rgb(243, 241, 237);
  border: 1px solid rgb(221, 218, 212);
  color: rgba(0, 0, 0, 0.2);
  grid-column: 1/13;
  place-self: center;
  padding: 0.5rem 1rem;
  justify-content: center;
  border-radius: 0.875rem;
  box-sizing: border-box;
  font-size: 11px;
  font-weight: 700;
  margin-bottom: 1rem;
  text-transform: uppercase;
  display: flex;
}
html.wf-design-mode .video-carousel-item {
  position: relative !important;
  width: 100%;
  padding: 0;
  padding-bottom: 1rem;
  border-radius: 0.7rem;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
  background-color: white;
}
html.wf-design-mode .video-carousel-item-text {
  writing-mode: horizontal-tb !important;
  grid-row: 2/3 !important;
  color: #000000;
  font-size: 1rem;
}
html.wf-design-mode .video-carousel-item-img {
  opacity: 1;
  aspect-ratio: 16/9;
}

body:not(.wf-control) {
  overflow-x: hidden;
}
body:not(.wf-control) > *:not(.reset-forms) form:not(.remove-styles) {
  border-radius: 0.875rem;
  background-color: #FFFFFF;
  padding: 2.75rem;
  position: relative;
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.05), 0 1px 4px 0 rgba(0, 0, 0, 0.1);
  overflow: hidden;
  box-sizing: border-box;
}
body:not(.wf-control) > *:not(.reset-forms) form:not(.remove-styles) button:not(.hsfc-Button) {
  min-width: 11.875rem;
  min-height: 3.375rem;
  overflow: hidden;
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-items: center;
  justify-content: center;
  padding: 0 10px;
  font-weight: 600;
  font-size: 1rem;
  color: inherit;
  background-color: transparent;
  border-radius: 999px;
  z-index: 1;
}
body:not(.wf-control) > *:not(.reset-forms) form:not(.remove-styles) button:not(.hsfc-Button)::before {
  content: "";
  position: absolute;
  inset: 0;
  padding: 2px;
  border-radius: 999px;
  background-image: linear-gradient(90deg, #9E9A97 0%, #9E9A97 40%, #96D9F5 60%, #3D9DFF 100%);
  background-size: 250% 100%;
  background-position: left;
  transition: background-position 1s cubic-bezier(0.19, 1, 0.22, 1);
  pointer-events: none;
  z-index: -1;
}
body:not(.wf-control) > *:not(.reset-forms) form:not(.remove-styles) button:not(.hsfc-Button):not(.full)::before {
  -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
}
body:not(.wf-control) > *:not(.reset-forms) form:not(.remove-styles) button:not(.hsfc-Button):hover::before {
  background-position: right;
}
body:not(.wf-control) > *:not(.reset-forms) form:not(.remove-styles):before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 0.87rem;
  background-image: linear-gradient(90deg, #3D9DFF 0%, #96D9F5 100%);
  width: 100%;
  z-index: 1;
}
body:not(.wf-control) > *:not(.reset-forms) form:not(.remove-styles) label {
  font-weight: 500;
  font-size: 0.875rem;
  display: inline-flex;
  gap: 0.125rem 0.5rem;
  margin-bottom: 0.875rem;
}
body:not(.wf-control) > *:not(.reset-forms) form:not(.remove-styles) label.labeled-input {
  text-indent: 0.4375rem;
  flex-direction: column;
  display: flex;
}
body:not(.wf-control) > *:not(.reset-forms) form:not(.remove-styles) label b {
  font-size: 1.75rem;
  font-weight: 600;
}
body:not(.wf-control) > *:not(.reset-forms) form:not(.remove-styles) input[type=text], body:not(.wf-control) > *:not(.reset-forms) form:not(.remove-styles) input[type=email], body:not(.wf-control) > *:not(.reset-forms) form:not(.remove-styles) input[type=tel] {
  font-weight: 400;
  padding: 1.0625rem 1.25rem;
  font-size: 1rem;
  border-radius: 999px;
  border: 1px solid #D7E2DF;
  background-color: #FFFFFF;
  color: #2C2B32;
  transition: border 1s cubic-bezier(0.19, 1, 0.22, 1);
}
body:not(.wf-control) > *:not(.reset-forms) form:not(.remove-styles) input[type=text]::placeholder, body:not(.wf-control) > *:not(.reset-forms) form:not(.remove-styles) input[type=email]::placeholder, body:not(.wf-control) > *:not(.reset-forms) form:not(.remove-styles) input[type=tel]::placeholder {
  color: rgba(44, 43, 50, 0.4);
}
body:not(.wf-control) > *:not(.reset-forms) form:not(.remove-styles) input[type=text]:focus, body:not(.wf-control) > *:not(.reset-forms) form:not(.remove-styles) input[type=email]:focus, body:not(.wf-control) > *:not(.reset-forms) form:not(.remove-styles) input[type=tel]:focus {
  border: 1px solid #3D9DFF;
  outline: none;
}
body:not(.wf-control) > *:not(.reset-forms) form:not(.remove-styles) input[type=text]:hover, body:not(.wf-control) > *:not(.reset-forms) form:not(.remove-styles) input[type=email]:hover, body:not(.wf-control) > *:not(.reset-forms) form:not(.remove-styles) input[type=tel]:hover {
  border: 1px solid #3D9DFF;
}
body:not(.wf-control) > *:not(.reset-forms) form:not(.remove-styles) input[type=text]:not(:placeholder-shown), body:not(.wf-control) > *:not(.reset-forms) form:not(.remove-styles) input[type=email]:not(:placeholder-shown), body:not(.wf-control) > *:not(.reset-forms) form:not(.remove-styles) input[type=tel]:not(:placeholder-shown) {
  border: 1px solid #3D9DFF;
}
body:not(.wf-control) > *:not(.reset-forms) form:not(.remove-styles) textarea {
  border-radius: 0.875rem;
  border: 1px solid #D7E2DF;
  background-color: #FFFFFF;
  color: #2C2B32;
  padding: 1.0625rem 1.25rem;
  font-size: 1rem;
  width: 100%;
}
body:not(.wf-control) > *:not(.reset-forms) form:not(.remove-styles) textarea:focus {
  border: 1px solid #3D9DFF;
  outline: none;
}
body:not(.wf-control) > *:not(.reset-forms) form:not(.remove-styles) select, body:not(.wf-control) > *:not(.reset-forms) form:not(.remove-styles) ::picker(select) {
  appearance: base-select;
  border: 1px solid #D7E2DF;
  border-radius: 0.875rem;
}
body:not(.wf-control) > *:not(.reset-forms) form:not(.remove-styles) ::picker(select)::-webkit-scrollbar {
  width: 5px;
  padding: 0.875rem;
  transform: translateX(0.875rem);
  position: relative;
  left: 10px;
}
body:not(.wf-control) > *:not(.reset-forms) form:not(.remove-styles) ::picker(select)::-webkit-scrollbar-thumb {
  width: 5px;
  background: #3D9DFF;
}
body:not(.wf-control) > *:not(.reset-forms) form:not(.remove-styles) select {
  font-weight: 400;
  padding: 1.0625rem 1.25rem;
  font-size: 1rem;
  border-radius: 999px;
  border: 1px solid #D7E2DF;
  background-color: #FFFFFF;
  color: #2C2B32;
}
body:not(.wf-control) > *:not(.reset-forms) form:not(.remove-styles) select::picker-icon {
  color: #D7E2DF;
}
body:not(.wf-control) > *:not(.reset-forms) form:not(.remove-styles) select option {
  display: flex;
  justify-content: flex-start;
  gap: 20px;
  background: #FFFFFF;
  padding: 1.0625rem 1.25rem;
  transition: 0.4s;
  cursor: pointer;
}
body:not(.wf-control) > *:not(.reset-forms) form:not(.remove-styles) select option::checkmark {
  content: "☑️";
}
body:not(.wf-control) > *:not(.reset-forms) form:not(.remove-styles) select option:first-of-type {
  color: #2C2B32;
}
body:not(.wf-control) > *:not(.reset-forms) form:not(.remove-styles) select option:hover {
  background-color: #96D9F5;
}
body:not(.wf-control) > *:not(.reset-forms) form:not(.remove-styles) select:invalid {
  color: #D7E2DF;
}
body:not(.wf-control) > *:not(.reset-forms) form:not(.remove-styles) .css-label {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 0;
}
body:not(.wf-control) > *:not(.reset-forms) form:not(.remove-styles) .item:has(.css-checkbox) {
  font-weight: 400;
  padding: 1.0625rem 1.25rem;
  font-size: 1rem;
  border-radius: 999px;
  border: 1px solid #D7E2DF;
  background-color: #FFFFFF;
  color: #2C2B32;
  margin-bottom: 1rem;
}
body:not(.wf-control) > *:not(.reset-forms) form:not(.remove-styles) .item:has(.css-checkbox):has(.css-checkbox:checked) {
  border-radius: 0.875rem 0.875rem 0 0;
  border-bottom: none;
  margin-bottom: 0;
}
body:not(.wf-control) > *:not(.reset-forms) form:not(.remove-styles) .item:has(.css-checkbox) + div {
  border-radius: 0 0 0.875rem 0.875rem;
  border: 1px solid #D7E2DF;
  border-top: none;
  padding: 1.0625rem 1.25rem;
  margin-bottom: 1rem;
}
body:not(.wf-control) > *:not(.reset-forms) form:not(.remove-styles) .css-checkbox {
  display: none;
}
body:not(.wf-control) > *:not(.reset-forms) form:not(.remove-styles) .css-checkbox:checked + label .fa-square-plus {
  display: none;
}
body:not(.wf-control) > *:not(.reset-forms) form:not(.remove-styles) .css-checkbox:checked + label .fa-square-minus {
  display: inline;
}
body:not(.wf-control) > *:not(.reset-forms) form:not(.remove-styles) .css-checkbox + label .fa-square-minus {
  display: none;
}
body:not(.wf-control) > .wider {
  grid-template-columns: repeat(12, minmax(0, 140px));
}
body:not(.wf-control) .video-faq-answer-block {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1000;
  display: grid;
  grid-template-columns: auto minmax(auto, 800px) auto;
  grid-template-rows: 1fr minmax(0, auto) 1fr;
}
@media screen and (max-width: 991px) {
  body:not(.wf-control) .video-faq-answer-block {
    grid-template-columns: auto minmax(auto, 100vw) auto;
  }
  body:not(.wf-control) .video-faq-answer-block > * {
    border-radius: 0;
  }
  body:not(.wf-control) .video-faq-answer-block > .video-faq-a {
    min-height: 100vh;
  }
}
body:not(.wf-control) .video-faq-answer-block > * {
  grid-column: 2;
  grid-row: 2;
  align-self: center;
  overflow: auto;
  max-height: 100%;
}
body:not(.wf-control) .video-faq-answer-block .video-faq-close-button {
  place-self: start end;
  margin-right: 1.4375rem;
  margin-top: 1.125rem;
  background-color: #F2F0E9;
  border-radius: 50%;
  width: 2.1875rem;
  aspect-ratio: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
body:not(.wf-control) .video-faq-answer-block .video-faq-close-button > svg {
  transition: transform 1s cubic-bezier(0.19, 1, 0.22, 1);
}
body:not(.wf-control) .video-faq-answer-block .video-faq-close-button:hover > svg {
  transform: rotate(90deg);
}
body:not(.wf-control) .button::before {
  content: "";
  position: absolute;
  inset: 0;
  padding: 2px;
  border-radius: 999px;
  background-image: linear-gradient(90deg, #9E9A97 0%, #9E9A97 40%, #96D9F5 60%, #3D9DFF 100%);
  background-size: 250% 100%;
  background-position: left;
  transition: background-position 1s cubic-bezier(0.19, 1, 0.22, 1);
  pointer-events: none;
  z-index: -1;
}
body:not(.wf-control) .button:not(.full)::before {
  -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
}
body:not(.wf-control) .button:hover::before {
  background-position: right;
}
body:not(.wf-control) .button.active::before {
  background-image: linear-gradient(90deg, #3D9DFF 0%, #96D9F5 40%, #96D9F5 60%, #3D9DFF 100%);
}
body:not(.wf-control) .button.full::before {
  background-image: linear-gradient(90deg, #3F4348 0%, #000000 100%);
  opacity: 1;
  background-size: 100% 100%;
  inset: 0;
  transition: opacity 1s cubic-bezier(0.19, 1, 0.22, 1);
}
body:not(.wf-control) .button.full::after {
  content: "";
  position: absolute;
  background-image: linear-gradient(90deg, #3D9DFF 0%, #96D9F5 100%);
  background-size: 100% 100%;
  inset: 0;
  opacity: 0;
  border-radius: 0;
  z-index: -1;
  transition: opacity 1s cubic-bezier(0.19, 1, 0.22, 1);
}
body:not(.wf-control) .button.full:hover::after {
  opacity: 1;
}
body:not(.wf-control) .button.full:hover::before {
  opacity: 0;
}
body:not(.wf-control) .line {
  background-image: linear-gradient(90deg, #2C2B32 0%, #2C2B32 45%, #3D9DFF 55%, #96D9F5 100%);
  background-size: 250%;
  background-position: left;
  transition: background-position 1s cubic-bezier(0.19, 1, 0.22, 1);
}
body:not(.wf-control) .line:hover {
  background-position: right;
}
body:not(.wf-control) .line:hover::before {
  width: 14px;
  margin-right: 0.3125rem;
}
body:not(.wf-control) .line:hover::after {
  width: 0px;
}
body:not(.wf-control) .line::after {
  content: "";
  width: 14px;
  height: 2px;
  margin-left: 0.3125rem;
  background-color: #9E9A97;
  transition: width 1s cubic-bezier(0.19, 1, 0.22, 1);
}
body:not(.wf-control) .line::before {
  content: "";
  width: 0px;
  height: 2px;
  margin-right: 0;
  background-color: #9E9A97;
  background-image: linear-gradient(90deg, #3D9DFF 0%, #96D9F5 100%);
  transition: width 1s cubic-bezier(0.19, 1, 0.22, 1), margin-right 1s cubic-bezier(0.19, 1, 0.22, 1);
}
body:not(.wf-control) .dark .button {
  color: #FFFFFF;
}
body:not(.wf-control) .dark .line {
  background-image: linear-gradient(90deg, #FFFFFF 0%, #FFFFFF 45%, #3D9DFF 55%, #96D9F5 100%);
}
body:not(.wf-control) .led-paragraph:before {
  content: "";
  background-color: #9E9A97;
  height: 1px;
  width: 2rem;
  display: block;
  margin-bottom: 1rem;
}
body:not(.wf-control) .tab.w--current::after {
  content: "";
  background-image: linear-gradient(90deg, #3D9DFF 0%, #96D9F5 100%);
  position: absolute;
  height: 4px;
  width: 100%;
  top: 100%;
  left: 0;
  z-index: 1;
}
body:not(.wf-control) .tab.w--current .tab-img {
  opacity: 1;
}
body:not(.wf-control) .tab .tab-img {
  opacity: 0.4;
}
body:not(.wf-control) .tab-descriptive.w--current::after {
  content: "";
  background-image: linear-gradient(90deg, #3D9DFF 0%, #96D9F5 100%);
  position: absolute;
  height: 4px;
  width: 100%;
  bottom: 100%;
  left: 0;
}
body:not(.wf-control) .tab-accordion::after {
  content: "";
  background-image: linear-gradient(180deg, #3D9DFF 0%, #96D9F5 100%);
  position: absolute;
  width: 4px;
  height: 100%;
  top: 0;
  right: 100%;
}
body:not(.wf-control) .tab-accordion-text, body:not(.wf-control) .faq-question-text {
  height: 0;
  transition: height 1s cubic-bezier(0.19, 1, 0.22, 1);
}
body:not(.wf-control) .tab-accordion.w--current .tab-accordion-text, body:not(.wf-control) .tab-accordion.w--current .faq-question-text, body:not(.wf-control) .faq-question.w--current .tab-accordion-text, body:not(.wf-control) .faq-question.w--current .faq-question-text {
  opacity: 1;
  height: auto;
}
body:not(.wf-control) .w-tab-link {
  color: inherit;
}
body:not(.wf-control) .zigzag > * > *:nth-child(1) {
  order: 1;
}
body:not(.wf-control) .zigzag > * > *:nth-child(2) {
  order: 3;
}
body:not(.wf-control) .zigzag > *:before {
  content: "";
  order: 2;
}
body:not(.wf-control) .zigzag > *:nth-child(even) > *:nth-child(2) {
  order: 1;
}
body:not(.wf-control) .zigzag > *:nth-child(even) > *:nth-child(1) {
  order: 3;
}
body:not(.wf-control) .video-lightbox-link {
  transition: height 1s cubic-bezier(0.19, 1, 0.22, 1);
  interpolate-size: allow-keywords;
}
body:not(.wf-control) .video-lightbox-link iframe {
  width: 100%;
  aspect-ratio: 16/9;
}
body:not(.wf-control) .video-lightbox-link:hover .video-lightbox-circle {
  transform: scale(1.3);
}
body:not(.wf-control) .video-lightbox-link .video-lightbox-wrap {
  opacity: 0;
  visibility: hidden;
}
body:not(.wf-control) .video-lightbox-link .video-lightbox-circle, body:not(.wf-control) .video-lightbox-link .video-lightbox-icon, body:not(.wf-control) .video-lightbox-link .video-lightbox-thumbnail {
  opacity: 1;
  visibility: visible;
  transition: all 1s cubic-bezier(0.19, 1, 0.22, 1);
}
body:not(.wf-control) .video-lightbox-link.active {
  height: auto;
}
body:not(.wf-control) .video-lightbox-link.active .video-lightbox-circle, body:not(.wf-control) .video-lightbox-link.active .video-lightbox-thumbnail, body:not(.wf-control) .video-lightbox-link.active .video-lightbox-icon {
  opacity: 0;
  visibility: hidden;
}
body:not(.wf-control) .video-lightbox-link.active .video-lightbox-wrap {
  opacity: 1;
  visibility: visible;
}
body:not(.wf-control) .hubspot-wrap {
  position: relative;
}
body:not(.wf-control) .hubspot-wrap:before {
  content: "";
  position: absolute;
  top: 0;
  height: 0.87rem;
  background-image: linear-gradient(90deg, #3D9DFF 0%, #96D9F5 100%);
  width: 100%;
  z-index: 1;
}
body:not(.wf-control) .newsletter-form {
  font-size: 16px;
}
body:not(.wf-control) .newsletter-form label {
  display: none;
}
body:not(.wf-control) .newsletter-form .hsfc-Step__Content {
  display: grid;
  grid-template-columns: 1fr auto;
  align-items: flex-start;
  padding: 0;
}
body:not(.wf-control) .newsletter-form .hsfc-Step__Content p {
  color: #FFFFFF;
  margin-bottom: 1em;
}
body:not(.wf-control) .newsletter-form .hsfc-NavigationRow, body:not(.wf-control) .newsletter-form .hsfc-NavigationRow__Alerts {
  margin-top: 0;
  margin-bottom: 0;
}
body:not(.wf-control) .newsletter-form input {
  background-color: rgba(255, 255, 255, 0.1);
  border: none;
  height: 56px;
  border-radius: 999px 0 0 999px;
  padding: 0 32px;
  color: #FFFFFF;
  font-weight: 400;
  transition: background-color 1s cubic-bezier(0.19, 1, 0.22, 1);
}
body:not(.wf-control) .newsletter-form input::placeholder {
  color: rgba(255, 255, 255, 0.5);
}
body:not(.wf-control) .newsletter-form input:focus, body:not(.wf-control) .newsletter-form input:hover {
  box-shadow: none;
  background-color: rgba(255, 255, 255, 0.2);
}
body:not(.wf-control) .newsletter-form button {
  height: 56px;
  border-radius: 0 999px 999px 0;
  background-image: linear-gradient(90deg, #2C2B32 0%, #000000 100%);
  font-weight: 400;
  padding: 0 32px;
}
body:not(.wf-control) .dropdown-list {
  opacity: 0;
  visibility: hidden;
  transform: translateY(4rem) translateX(-50%) scale(0.95);
  transition: visibility 1s cubic-bezier(0.19, 1, 0.22, 1), opacity 1s cubic-bezier(0.19, 1, 0.22, 1), transform 1s cubic-bezier(0.19, 1, 0.22, 1);
  display: block;
  background: transparent;
}
body:not(.wf-control) .dropdown-list.w--open {
  opacity: 1;
  visibility: visible;
  transform: translateY(0) translateX(-50%);
}
body:not(.wf-control) .bento-item-right {
  align-items: flex-end;
  text-align: right;
}
body:not(.wf-control) .bento-item-center {
  align-items: center;
  text-align: center;
}
body:not(.wf-control) .bento-item-wide {
  flex-direction: row-reverse;
  justify-content: space-between;
}

#video-carousel {
  font-size: min(16px, (var(--vw) - 12.5rem) * 0.0121212);
}
@media screen and (max-width: 991px) {
  #video-carousel {
    font-size: 2.0833333vw;
  }
}

.video-carousel-item {
  --bgMain: #9E9A97;
  --bgSecondary: #9E9A97;
  --bgTertiary: #D7D3CB;
  display: grid;
  grid-template-rows: minmax(0, 1fr);
  flex: 1;
  cursor: pointer;
  overflow: hidden;
  user-select: none;
  border-radius: 0.5rem;
  transition: border-radius 1s cubic-bezier(0.19, 1, 0.22, 1);
}
.video-carousel-item.active {
  border-radius: 1.5rem;
}
.video-carousel-item.active .video-carousel-item-text {
  place-self: end start !important;
  padding: 2.5rem 3.125rem;
}
.video-carousel-item.active:hover .video-lightbox-circle {
  scale: 1.3;
}
.video-carousel-item .video-lightbox-circle {
  transition: scale 1s cubic-bezier(0.19, 1, 0.22, 1);
  place-self: center center !important;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  transform: none;
  opacity: 0;
}
.video-carousel-item .video-lightbox-icon {
  place-self: center center !important;
  top: 0;
  left: 0.15rem;
  height: auto;
  width: auto;
  z-index: 1;
  opacity: 0;
}
.video-carousel-item-video {
  grid-area: 1/1;
  z-index: 1;
  background-color: black;
}
.video-carousel-item-video iframe {
  width: 100%;
  height: 100%;
}
.video-carousel-item-text {
  place-self: center center !important;
  padding: 0;
  z-index: 1;
}
@media screen and (max-width: 991px) {
  .video-carousel-item-text {
    font-size: 0.875rem;
  }
}
.video-carousel-item img {
  width: 100%;
}

.controls-next, .controls-prev {
  cursor: pointer;
  z-index: 2;
  height: 36px;
  width: 48px;
  padding: 0;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('data:image/svg+xml,<svg width="37" height="37" viewBox="0 0 37 37" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M18.5 10.5L10.5 18.5M10.5 18.5L18.5 26.5M10.5 18.5H26.5M10.1 36.5H26.9C30.2603 36.5 31.9405 36.5 33.2239 35.846C34.3529 35.2708 35.2708 34.3529 35.846 33.2239C36.5 31.9405 36.5 30.2603 36.5 26.9V10.1C36.5 6.73969 36.5 5.05953 35.846 3.77606C35.2708 2.64708 34.3529 1.7292 33.2239 1.15396C31.9405 0.5 30.2603 0.5 26.9 0.5H10.1C6.73969 0.5 5.05953 0.5 3.77606 1.15396C2.64708 1.7292 1.7292 2.64708 1.15396 3.77606C0.5 5.05953 0.5 6.73968 0.5 10.1V26.9C0.5 30.2603 0.5 31.9405 1.15396 33.2239C1.7292 34.3529 2.64708 35.2708 3.77606 35.846C5.05953 36.5 6.73968 36.5 10.1 36.5Z" stroke="black" stroke-linecap="round" stroke-linejoin="round"/></svg>');
}
.controls-next {
  transform: rotate(180deg);
}

.has-checklist ul {
  padding-left: 0;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.has-checklist li {
  padding-left: 0;
  display: flex;
}
.has-checklist li:before {
  content: "";
  background-image: url("data:image/svg+xml,%3Csvg width='22' height='22' viewBox='0 0 22 22' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M9.46 16.06L17.215 8.305L15.675 6.765L9.46 12.98L6.325 9.845L4.785 11.385L9.46 16.06ZM11 22C9.47833 22 8.04833 21.7112 6.71 21.1337C5.37167 20.5562 4.2075 19.7725 3.2175 18.7825C2.2275 17.7925 1.44375 16.6283 0.86625 15.29C0.28875 13.9517 0 12.5217 0 11C0 9.47833 0.28875 8.04833 0.86625 6.71C1.44375 5.37167 2.2275 4.2075 3.2175 3.2175C4.2075 2.2275 5.37167 1.44375 6.71 0.86625C8.04833 0.28875 9.47833 0 11 0C12.5217 0 13.9517 0.28875 15.29 0.86625C16.6283 1.44375 17.7925 2.2275 18.7825 3.2175C19.7725 4.2075 20.5562 5.37167 21.1337 6.71C21.7112 8.04833 22 9.47833 22 11C22 12.5217 21.7112 13.9517 21.1337 15.29C20.5562 16.6283 19.7725 17.7925 18.7825 18.7825C17.7925 19.7725 16.6283 20.5562 15.29 21.1337C13.9517 21.7112 12.5217 22 11 22Z' fill='%232C2B32'/%3E%3C/svg%3E");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  width: 1.375rem;
  margin-right: 1rem;
  aspect-ratio: 1;
}

.checklist {
  padding-left: 1.375rem;
}
.checklist.inline {
  padding-left: 0;
}
.checklist li {
  list-style: none;
  display: flex;
  align-items: flex-start;
  margin-bottom: 0.8rem;
  font-weight: 500;
}
.checklist li:before {
  content: "\f00c";
  font-family: FontAwesome;
  aspect-ratio: 1;
  background: #2C2B32;
  border-radius: 50%;
  display: inline-block;
  width: 1.375rem;
  height: 1.375rem;
  margin-right: 1rem;
  margin-top: 0.1rem;
  color: white;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.8rem;
}
.checklist.dark li:before {
  background: linear-gradient(0deg, #2C2B32 0%, #2C2B32 100%);
}

.divider {
  display: flex;
  align-items: center;
  gap: 1.25rem;
}
.divider:before {
  content: "";
  height: 1px;
  background-color: #D7E2DF;
  flex-grow: 1;
}
.divider:after {
  content: "";
  height: 1px;
  background-color: #D7E2DF;
  flex-grow: 1;
}

@media screen and (min-width: 992px) {
  [data-featured="2"] {
    grid-column: span 8 !important;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 0;
    grid-template-rows: 1fr;
  }
  [data-featured="2"] .post-img-wrap {
    aspect-ratio: unset;
    height: 100%;
  }
}
@media screen and (max-width: 991px) {
  [data-featured="2"] {
    grid-column: span 12 !important;
  }
}

@media screen and (min-width: 992px) {
  [data-featured="3"] {
    grid-column: span 12 !important;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 0;
    grid-template-rows: 1fr;
  }
  [data-featured="3"] .post-img-wrap {
    aspect-ratio: unset;
  }
}

[data-featured="4"] {
  width: 40vw;
}
@media screen and (max-width: 991px) {
  [data-featured="4"] {
    width: 80vw;
  }
}

.post {
  opacity: 0;
  transition: all 1s cubic-bezier(0.19, 1, 0.22, 1);
  animation: fadeIn 1s cubic-bezier(0.19, 1, 0.22, 1) forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(10rem);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
.fadetest {
  opacity: 0;
  transition: all 1s cubic-bezier(0.19, 1, 0.22, 1);
}

.solutions-block .solution .solution-hover {
  opacity: 0;
  scale: 0.7;
  transition: opacity 1s cubic-bezier(0.19, 1, 0.22, 1), scale 1s cubic-bezier(0.19, 1, 0.22, 1);
}
@media screen and (max-width: 991px) {
  .solutions-block .solution .solution-hover {
    opacity: 0.8;
    scale: 1;
  }
}
@media screen and (min-width: 992px) {
  .solutions-block .solution:first-of-type .solution-hover {
    border-top-left-radius: 1.625rem;
    border-bottom-left-radius: 1.625rem;
  }
}
@media screen and (min-width: 992px) {
  .solutions-block .solution:last-of-type .solution-hover {
    border-top-right-radius: 1.625rem;
    border-bottom-right-radius: 1.625rem;
  }
}
.solutions-block .solution:hover .solution-hover {
  opacity: 0.85;
  scale: 1;
}

.filter-links .filter-link input {
  display: none;
}
.filter-links .filter-link input:checked + .w-form-label:after {
  width: 100%;
}
.filter-links .filter-link .w-form-label {
  position: relative;
  padding-bottom: 1rem;
  padding-top: 1rem;
}
.filter-links .filter-link .w-form-label:after {
  content: "";
  position: absolute;
  background-image: linear-gradient(90deg, #3D9DFF 0%, #96D9F5 100%);
  height: 4px;
  width: 0%;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  transition: width 1s cubic-bezier(0.19, 1, 0.22, 1);
}

.toc-link:hover {
  opacity: 1;
}
.toc-link:hover:before {
  height: 100%;
}
.toc-link:before {
  content: "";
  position: absolute;
  background-image: linear-gradient(90deg, #3D9DFF 0%, #96D9F5 100%);
  width: 4px;
  height: 0%;
  top: 50%;
  transform: translateY(-50%);
  right: 100%;
  border-radius: 2px;
  transition: height 1s cubic-bezier(0.19, 1, 0.22, 1);
}

.blog-post-text figure {
  margin-bottom: 2em;
}
.blog-post-text ul {
  margin-bottom: 2rem;
}
.blog-post-text li {
  list-style: disc;
  margin-bottom: 0.6rem;
  font-weight: 500;
  position: relative;
}

.margin-bottom {
  margin-bottom: 6.25rem;
}
.margin-bottom-small {
  margin-bottom: 3.75rem;
}

html.wf-design-mode [flowappz-cookie-consent-container], [data-wf-page="6825faaba311e001845307e3"] [flowappz-cookie-consent-container] {
  display: none;
}
html.wf-design-mode .wrap:has(.dropdown.shadowed), [data-wf-page="6825faaba311e001845307e3"] .wrap:has(.dropdown.shadowed) {
  margin-bottom: 100px;
}
html.wf-design-mode .dropdown.shadowed, [data-wf-page="6825faaba311e001845307e3"] .dropdown.shadowed {
  position: relative;
}

html:not(.wf-design-mode) .responsive-tab .tabs-content {
  height: 0;
  opacity: 0;
  margin-bottom: 0;
  overflow: hidden;
  transition: height 1s cubic-bezier(0.19, 1, 0.22, 1), opacity 1s cubic-bezier(0.19, 1, 0.22, 1), margin-bottom 1s cubic-bezier(0.19, 1, 0.22, 1);
  interpolate-size: allow-keywords;
}
html:not(.wf-design-mode) .responsive-tab.active .responsive-tab-img {
  background-color: #f2f0e9;
}
html:not(.wf-design-mode) .responsive-tab.active .tabs-content {
  opacity: 1;
  margin-bottom: 1rem;
  height: auto;
}

.margin-top {
  margin-top: 6.25rem;
}
.margin-top-small {
  margin-top: 3.75rem;
}

.last-item {
  margin-bottom: 0;
}

.text-large {
  font-size: 1.125rem;
  line-height: 1.44;
}
.text-small {
  font-size: 0.875rem;
}
.text-center {
  text-align: center;
}

.gapless-vertical {
  row-gap: 0;
}
.gapless-horizontal {
  column-gap: 0;
}

p a {
  position: relative;
  color: #0166CC;
}
p a:before {
  content: "";
  position: absolute;
  width: 100%;
  bottom: -8px;
  left: 0;
  height: 10px;
  background-image: url("https://cdn.prod.website-files.com/6822603442295109788371a4/68c2bea7ee288d9545895d78_underline.svg");
  background-repeat: no-repeat;
  transform: scaleX(0);
  transform-origin: left center;
  transition: transform 0.2s ease-in;
}
p a:hover:before {
  transform: scaleX(1);
}

.staging-test {
  background-color: rgb(117, 255, 133);
}

.hsfc-NavigationRow__Alerts {
  display: none;
}

/*# sourceMappingURL=style.css.map */
